.imgGrid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  gap: 40px;
  margin: auto;

  app-img-card {
    justify-self: center;
  }

  .noContent {
    text-align: center;
    grid-column: 1/3;
  }
}

.spiner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
