ul {
  list-style: none;
  display: flex;
  justify-content: center;

  width: 40%;
  margin: auto;
  padding-top: 15px;

  li {
    padding: 7px 25px;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      color: darkred
    }
  }
}

.isActive {
  color: tomato;
}
